/* Optimization */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global */

.App,
.Home {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(79deg #fcfced, #fcedfc 48%, #ebf6ff);
}

/* Login & register */

.App {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App .auth-form-container,
.App form {
  display: flex;
  flex-direction: column;
}

.App .auth-form-container {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.App form {
  height: 100%;
  justify-content: space-around;
}

.App form img {
  width: 30%;
}

/* Home */

.Home {
  flex-direction: column;
  align-items: center;
}

.Home nav {
  padding: .5em 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
}

.Home nav .left,
.Home nav .right,
.Home nav .mid {
  width: 30%;
}

.Home nav .left,
.Home nav .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home nav .mid {
  position: relative;
}

.Home nav .mid .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Home nav .mid .logo img {
  width: 100px;
}

.Home nav .right button {
  background: none;
  border: none;
}